<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col-md-6">
			<form [formGroup]="playerValues" (ngSubmit)="formSubmit(playerValues.value)">
				<h2 class="text-center">{{ titulo }}</h2>
				<input type="hidden" name="id" formControlName="id">
				<div class="row">
					<div class="form-group" class="col-sm-6">
						<label for="name" class="w-100">
							Nombre
							<input type="text" class="form-control" name="name" formControlName="name" />
							<small id="nameHelp" class="form-text text-muted">Nombre</small>
						</label>
					</div>
					<div class="form-group" class="col-sm-6">
						<label for="position" class="w-100">
							Posición
							<input type="text" class="form-control" id="position" formControlName="position" />
						</label>
						<small id="positionHelp" class="form-text text-muted">Posición en el campo</small>
					</div>
				</div>
				<div class="row">
					<div class="form-group" class="col-sm-6">
						<label for="num" class="w-100">
							Dorsal
							<input type="text" class="form-control" id="num" formControlName="num" />
						</label>
						<small id="numHelp" class="form-text text-muted">Número de camiseta.</small>
					</div>
					<div class="form-group" class="col sm-6">
						<label for="image" class="w-100">
							Image
							<input type="text" class="form-control" id="image" formControlName="image" />
						</label>
					</div>
				</div>
				<br />
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</div>
	</div>
</div>