<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>List of Players</h1>
    </div>
    <ng-container *ngIf="playersList.length">
      <div *ngFor="let player of playersList" class="col-sm-6 col-md-4 col-xl-3">
        <div class="card uk-hover mb-3">
          <img [src]="player.image_players" class="card-img-top" />
          <div class="card-header border-bottom-0">
            Español
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ player.name_players | titlecase }}</h5>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="#" class="btn btn-danger" (click)="deletePlayer(player.id_players)">Delete</a>
            <a href="#" class="btn btn-primary" [routerLink]="['/form-player',player.id_players]">Modify</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
